      <div>
        <a href="/boards">
          Bulletin Board
        </a>
      </div>
<div>
  <div>
    <h1>
    <%= @the_board.name %>
    </h1>
    <div>


    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_board.name %>
      </dd>
      <form action="/insert_post" method="post">
        <div>
        <label for="title">Title</label>
        <input id="title" type="text" name="title">>
        </div>

        <div>
        <label for="body">Body</label>
        <textarea name="body" id="body_field" cols="30" rows="10"></textarea>
        </div>
        
        <div>
        <label for="expires on">Expires on</label>
        <input type="date" id="expires_on_field" name="expires on"><input>
        </div>
        <button>Add post</button>
        </form>
      
<hr>
<h1>Active posts</h1>

